<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book-Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

    <body>
        <div id="wrapper">
            <h2>{{author.first_name}} {{author.last_name}}</h2>
            <p>ID:{{author.id}}</p>
            <h3>Notes:</h3>
            <p>{{author.notes}}</p>
            <h3>Books:</h3>
            <ul>
                {% for book in author.books.all %}
                <li>{{book.name}}</li>
                {% endfor %}
            </ul>
            <form action="/authors/{{author.id}}/book" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <select name="book_id">
                        <option value="">Select a Book</option>

                        {% for book in all_books %}
                        <option value="{{book.id}}">{{book.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>



        </div>
    </body>

</html>
