#wrapper {
	width: 970px;
	height: 1000px;
	margin: 0 auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	display: inline-block;

	text-align: center;
	font-size: 20px;
	font-weight: normal;
	border: 1px solid black;
	margin-left: 350px;
	padding: 10px;
}

.time {
	width: 500px;
	margin: 10px auto;
	padding: 10px 20px;
	text-align: center;

	border: 2px solid black;
}

p {
	font-size: 25px;
	margin: 0;
}
